#container {
    display: grid;
    grid-template-areas: /* *I've used the default grid areas from the home page as placeholder until this page's layout is designed*/
            "title title title"
            "nav nav nav"
            "content content content"
            "footer footer footer";
    grid-template-columns: 4% 92% 4%;
    grid-template-rows: 10% 10% 54% 26%;
    width: 100vw;
    height: 100vh;
}
#temptitle {
    grid-area: content;
    font-family: 'MyWebFont', anti, sans-serif;
    margin-left: var(--leftandrightmargin);
}