#container {
    display: grid;
    grid-template-areas: 
            "header"
            "image"
            "content1"
            "content2"
            "footer";
    grid-template-rows: auto auto auto auto;
    width: 100%;
    height: 100%;
}
#mainImg {
    grid-area: image;
    height: 400px;
}
#mainImg img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    opacity: 80%;
    filter: blur(2px);
    object-position: 0 40%;
}
#centered1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: 'MyWebFont', anti, sans-serif;;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
#centered2 {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: 'MyWebFont', anti, sans-serif;;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
#contactFormSection {
    grid-area: content1;
    margin-left: var(--globalMargin);
    margin-right: var(--globalMargin);
    background-color: whitesmoke;
    padding: 30px;
    height: 800px;
    position: relative;
    bottom:60px;
    border-radius: 20px;
}
.formItem {
    padding: 40px;
}
.contactformLabel {
    font-family: 'MyWebFont', anti, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
.contactFormInput {
    width: 50%;
    font-size: 20px;
    font-family: 'MyWebFont', anti, sans-serif;;
}
#contactFormInputTextarea {
    width: 100%;
    height: 300px;
    font-size: 20px;
    font-family: 'MyWebFont', anti, sans-serif;
}
.formItemButton {
    padding: 0px 0px 0px 40px;
    float: left;
}
.buttonInput {
    padding: 10px;
    font-family: 'MyWebFont', anti, sans-serif;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
#contentLinkSection {
    padding: 30px;
    margin-left: var(--globalMargin);
    margin-right: var(--globalMargin);
    background-color: whitesmoke;
    position: relative;
    grid-area: content2;
    border-radius: 20px;
}
#contentLinks {
    padding: 40px ;
    height: 100px;
}
#contentLinks h1 {
    font-size: 50px;
    font-family: 'MyWebFont', anti, sans-serif;
    float: left;
    margin-top: 20px;
}
.logoImage {
    width: 100px;
    float: right;
    margin-left: 10px;
}
#referenceContainer {
    float: right;
}
.referenceLink {    
    font-size: 15px;
    font-family: 'MyWebFont', anti, sans-serif;;
    color: whitesmoke;
    float: right;
}
.referenceLink a {
    color: cornflowerblue;
}
