:root {
    --leftandrightmargin: 40px;
}
#container {
    display: grid;
    grid-template-areas: 
            "title title title"
            "nav nav nav"
            "content1 content2 content3"
            "footer footer footer";
    grid-template-columns: 4% 92% 4%;
    grid-template-rows: 10% 10% 54% 26%;
    width: 100vw;
    height: 100vh;
}
img {
    max-width: 100%;
    border: 2px solid black;
    border-radius: 50px;
}
.contentleft {
    grid-area: content1;
}
.contentright {
    grid-area: content3;
}
#footer {
    grid-area: footer;
}
#footer h1 {
    font-family: 'MyWebFont', anti, sans-serif; 
    font-size: 2.5vw;
    padding: 10px;
    margin-left: var(--leftandrightmargin);
    margin-top: 20px;
}
.descriptionFooter {
    margin-left: var(--leftandrightmargin);
    padding: 10px;
    font-family: 'MyWebFont', anti, sans-serif; 
    font-size: 1.5vw;
}
#content {
    grid-area: content2;
}
