:root {  
    --leftandrightmargin: 40px; /* Global variable for page margins*/
}
@font-face { /* Imported web font to be used as main front throughout the website*/
    font-family: 'MyWebFont';
    src: url('../Fonts/antipasto-pro-regular-trial-webfont.woff') format('woff');
}
*{
    margin: 0px;
    padding: 0px;
}
#navbar{
        background-color: white;
        width:100%;
        grid-area: nav;
}
#navbar h1{
    display: inline-block;
    margin-left: var(--leftandrightmargin);
    padding: 10px;
    font-family: 'MyWebFont', anti, sans-serif; 
    color:black;
    font-size: 2.5vw;
}
#navbar ul{
    float: right;
    margin-right: var(--leftandrightmargin);
}
#navbar ul li{
    float: left;
    list-style-type: none;
    height: 100%;
    color:black;
    padding:20px;
    font-size: 1.5vw;
    font-family: 'MyWebFont', anti, sans-serif; 
}
#navbar ul li:hover{
    background-color: black;
    color:white;
    font-style: italic;
}
#navbar ul a{
    text-decoration-style: none;
}
   
